[submodule "Satoshi/vendor/spdlog"]
	path = Satoshi/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Satoshi/vendor/glad"]
	path = Satoshi/vendor/glad
	url = https://github.com/bmarques1995/glad.git
[submodule "Satoshi/vendor/vulkan/vulkan_headers"]
	path = Satoshi/vendor/vulkan/vulkan_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Satoshi/vendor/vulkan/vulkan_loader"]
	path = Satoshi/vendor/vulkan/vulkan_loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "Satoshi/vendor/eigen3"]
	path = Satoshi/vendor/eigen3
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Satoshi/vendor/shaderc_wrapper"]
	path = Satoshi/vendor/shaderc_wrapper
	url = https://github.com/bmarques1995/shaderc_wrapper.git
[submodule "Satoshi/vendor/jsoncpp"]
	path = Satoshi/vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
